[submodule "LakLabAnalysis"]
	path = LakLabAnalysis
	url = https://github.com/LakLab/LakLabAnalysis.git
[submodule "Rigbox"]
	path = Rigbox
	url = https://github.com/huriyeatg/Rigbox.git
[submodule "gramm"]
	path = gramm
	url = https://github.com/piermorel/gramm.git
[submodule "psychofit"]
	path = psychofit
	url = https://github.com/cortex-lab/psychofit.git
[submodule "linearEncodeModel"]
	path = linearEncodeModel
	url = https://github.com/isabellauhw/linearEncodeModel.git
